html,
body {
  height: 100%;
}
body {
  background-image: url('../static/img/image15.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}
a,
a:focus,
a:hover {
  color: #fff;
}
.nav-link {
  font-weight: bold;
  color: rgba(255,255,255,1);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  border-bottom-color: rgba(255,255,255,.33);
  padding: 1em 0 0 0;
  margin: 0 1em;
}

.nav-link:hover,
.nav-link:focus {
  border-bottom-color: rgba(255,255,255,1);
}

.nav-link .nav-link-word-dis {
   visibility:hidden;
}

.nav-link:hover .nav-link-word-dis,
.nav-link:focus .nav-link-word-dis {
   visibility:visible;
}
.center-block {
    margin: 0 auto;
    text-align: center;
}
#content {
  margin-top: 1.5em;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  .nav-link {
    margin: 0 1em;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .footer {
    margin-top: 3em;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
