html,
body {
  height: 100%;
}
body {
  background: url('../static/img/image10.JPG');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #464646;
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}
body:before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  opacity: .6;

}
a,
a:focus,
a:hover {
  color: #fff;
}
/* .nav-link { */
/*   font-weight: bold; */
/*   color: rgba(255,255,255,1); */
/*   background-color: transparent; */
/*   border-bottom: .25rem solid transparent; */
/*   border-bottom-color: rgba(255,255,255,.33); */
/*   margin: 0 1rem; */
/* } */

/* .nav-link:hover, */
/* .nav-link:focus { */
/*   border-bottom-color: rgba(255,255,255,1); */
/* } */

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  text-align: center;
}
.site-wrapper > .container-fluid {
  display: table-row;
  height: 0;
}
.site-wrapper > .container-fluid > row > div.col-4 {
  display: table-cell;
  height: 0;
}
.site-wrapper > .container-fluid.fill {
  height: auto;
}


.center-block {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.meta {
  font-weight: 600;
}
.meta.row {
  padding: 0 1rem;
}

/* .navbar-toggler { */
/*   background: rgba(255,255,255,.75); */
/* } */

.collapsed > .navbar-nav,
.collapsing > .navbar-nav,
.show > .navbar-nav {
  flex-direction: row;
}
.meta {
  text-align: center;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
}

@media (max-width: 767px) {
  .container-fluid {
    padding: 0;
  }
  .navbar {
    padding: 0;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .meta.row {
    margin: 15px;
    text-align: right;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
