html,
body {
  height: 100%;
}
body {
  background: url('../static/img/image10.JPG');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}
body:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  opacity: .6;

}
a,
a:focus,
a:hover {
  color: #fff;
}
.nav-link {
  font-weight: bold;
  color: rgba(255,255,255,1);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  border-bottom-color: rgba(255,255,255,.33);
  padding: 1rem 0 0 0;
  margin: 0 1rem;
}

.nav-link:hover,
.nav-link:focus {
  border-bottom-color: rgba(255,255,255,1);
}

.nav-link .nav-link-word-dis {
   visibility:hidden;
}

.nav-link:hover .nav-link-word-dis,
.nav-link:focus .nav-link-word-dis {
   visibility:visible;
}
.site-wrapper {
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  text-align: center;
}


.center-block {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#navbar-container {
  padding: 0;
  margin: 0;
  width: 100%;
}

#header {
  padding: 1rem 1rem;
}

.meta {
  padding: 1rem 3rem;
  font-weight: 600;
}

/* .navbar-toggler { */
/*   background: rgba(255,255,255,.75); */
/* } */

.collapsed > .navbar-nav,
.collapsing > .navbar-nav,
.show > .navbar-nav {
  flex-direction: row;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
  .nav-link {
    margin: 0 .3rem;
  }
  .meta {
    text-align: center;
  }
  .meta.justify-content-end {
    display: none;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  .nav-link {
    margin: 0 .3rem;
  }
  .meta {
    text-align: center;
  }
  .meta.justify-content-end {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .meta {
    text-align: right;
  }
  .meta.justify-content-center {
    display: none;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .footer {
    margin-top: 3rem;
  }
  #logo-text {
    padding-left: 3rem;
  }
  .nav-link {
    margin: 0 .3rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
